@import './style-vars/fonts';

html{
    box-sizing: border-box;
}
*, *:before, *::after{
    box-sizing: inherit;
}


html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
button{
    padding: 0px;
    margin: 0px;
    outline: none;
    border: 0px;
}

a{
    text-decoration: none;
    outline: none;
    border: 0px;
}

ul, 
ol,
li{
    list-style-type: none ;
}

body{
    @extend %default-font;
    background: rgb(20, 20, 20);
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.footer{
    margin-top: auto;
}

.container-fluid{
    max-width: 1920px;
}

.btn{
    @extend %title-font;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 50px;
    background: $acient;
    color: white;
    border-radius: 15px;
}